.mainBackCard {
  width: 290px;
  height: 160px;
  background-image: url("/src/images/bg-card-back.png");
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  position: absolute;
  transform: translate(-35%, -15%);
  top: 9%;
  left: 45%;
  border-radius: 8px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.cvc-section {
  margin-right: 2rem;
  color: hsl(270, 3%, 87%);
}
.cvc-section p {
  font-size: 12px;
}
@media screen and (min-width: 1024px) {
  .mainBackCard {
    width: 340px;
    height: 200px;
    top: 57%;
    left: 35%;
  }
}
