.whole-container {
  width: 375px;
  height: 100vh;
  margin: 0 auto;
  /* border: 1px solid red; */
}
.upper-section {
  background-image: url("../images/bg-main-mobile.png");
  background-position: center;
  background-size: cover;
  height: 40%;
  width: 100%;
}

.lower-section {
  margin-top: 80px;
  padding: 0 20px;
}

.user-card-heading {
  margin-bottom: 20px;
}

.card-desc-tags {
  margin-bottom: 5px;
  font-size: 11px;
  color: hsl(278, 68%, 11%);
  font-weight: 600;
  letter-spacing: 1.5px;
}

.user-card-heading input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid hsl(270, 3%, 87%);
}

input::placeholder {
  font-weight: bolder;
  color: hsl(270, 3%, 87%);
  font-size: 15px;
}

.user-card-date {
  display: flex;
}

.card-input-month-year {
  display: flex;
}

.card-date-input,
.user-card-cvc {
  width: 50%;
}

.date-input {
  width: 45%;
  margin-right: 10px;
}

.btn {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(278, 68%, 11%);
  letter-spacing: 1.5px;
}

@media screen and (min-width: 1024px) {
  .whole-container {
    width: 100%;
    height: 100vh;
    display: flex;
  }
  .upper-section {
    background-image: url("../images/bg-main-desktop.png");
    width: 40%;
    height: 100%;
  }
  .lower-section {
    margin-top: 0;
    padding: 0;
    width: 60%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .user-card-heading,
  .btn {
    width: 375px;
    margin-bottom: 35px;
  }
}
